#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 500px;
}

.featured-card{
  border: 2px solid rgb(79, 187, 169);
  border-radius: 10%;
  padding: 1em;
  margin: 1em;
  background-color: rgb(49, 33, 33);
  height: 90%;
  width: 90%;
}

.featured-name {
  color: rgb(168, 247, 236);
  font-weight: bold;
}

.stat-color {
  color: rgb(0, 153, 255);
  padding: 2px;
  list-style-type: none;
}

.pup-selector,
.kit-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.pup-selector h3,
.kit-selector h3 {
  grid-column: 1 / -1;
}

.pup-selector h3{
  color: rgb(168, 247, 236);
}

.pup-selector p{
  border: 2px solid rgb(168, 247, 236);
}
.kit-selector p{
  border: 2px solid rgb(235, 119, 104);
}

.kit-selector h3{
  color: rgb(235, 119, 104);
}

.featured-card2{
  border: 2px solid rgb(235, 119, 104);
  border-radius: 10%;
  padding: 1em;
  margin: 1em;
  background-color: rgb(49, 33, 33);
  height: 90%;
  width: 90%;
}

.featured-name2{
  color: rgb(235, 119, 104);
}

.stat-color2{
  color: rgb(252, 73, 67);
  padding: 2px;
  list-style-type: none;
}


.selector-container{
  display: flex;
  justify-content: space-between;
  gap: 20%;
}

.title{
  font-size: 2em;
  background: -webkit-linear-gradient(left, rgb(72, 212, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abilities-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.abilities-container li {
  list-style-type: none;
}

.animal-image{
  height: 200px;
  width: 200px;
  border-radius: 10%;
}